.login_container {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 10%;
}

.login_text{
    text-align: center;
    font-size: 36px;
}
a.alert-link:link{
    font-weight: normal;
    color: #17a2b8;
}
a.alert-link:hover{
    color:#FFFFFF;
    font-weight: normal;
}

.register_container{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 10%;
}
.register_text{
    width: 300px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.submit_button{
    float: left;
    width: 148px;
}
.cancel_button{
    float: right;
    width: 148px;
}
.button_register{
    height:auto;
}
.register_form_container{
    width: 300px;
}
.register_succeed_container{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
    background-color: #6c757d;;
}
.successful_sign{
    text-align: center;
}

.successful_title{
    width: 300px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
}
.successful_text{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.continue_button{
    text-align: center;
    width: inherit;
    padding-bottom: 10px;
}
.password_successful_text{
    width: 300px;
    text-align: center;
    font-size: 15px;
}