.login_container {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 10%;
}

.chart_container {

    width: 300px;


}

.login_logo{
    text-align: center;
}
.main_col-md-4{
    padding-left: 0px;
}
.login_text{
    text-align: center;
    font-size: 36px;
}
a.alert-link:link{
    font-weight: normal;
    color: #17a2b8;
}
a.alert-link:hover{
    color:#FFFFFF;
    font-weight: normal;
}
a.alert-link:visited{
    color: #17a2b8;
    font-weight: normal;
}
.label_container{
    padding-left:14px;
}
.register_container{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 10%;
}

.main_link_1{
    float: left;
}
.main_link_2{
    float: right;
}
.register_text{
    width: 300px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.submit_button{
    float: left;
    width: 148px;
}
.cancel_button{
    float: right;
    width: 148px;
}
.button_register{
    height:auto;
}
.register_form_container{
    width: 300px;
}
.psw_container{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 10%;
}
.selection_container{
    margin-bottom: 12px;
    padding-left: 20px;
}
.radio_label{
    float: left;
    width: 90px;
    height:38px;
}
.psw_btn_container{
}
.psw_btn_1{
    float: left;

}
.psw_btn_2{
    float: right;
}
.register_succeed_container{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
    background-color: #6c757d;;
}
.successful_sign{
    text-align: center;
}

.successful_title{
    width: 300px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
}
.successful_text{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.continue_button{
    text-align: center;
    width: inherit;
    padding-bottom: 10px;
}
.password_successful_text{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
    text-align: center;
    font-size: 15px;
}
.login_wrong_text{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
    text-align: center;
    font-size: 15px;
}

/*<!--------------------------------------------pa-request  start------------------------->*/
/*.pa_request_container{*/
    /*width: 400px;*/
/*}*/
/*.pa_request_container_left{*/
    /*float: left;*/
/*}*/
/*.pa_request_container_right{*/
    /*float: left;*/
/*}*/





/*<!--------------------------------------------for pa-request  end------------------------->*/